/*#wrap-table {
    table-layout: fixed;
    word-wrap: break-word;
}*/
.table tbody tr td{
  max-width:100px; /* Customise it accordingly */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}